$brown: #9c6644;
$brown-dark: #7f5539;
$brown-light: #b08968;
$creamy: #e6ccb2;
$creamy-dark: #ddb892;
$creamy-light: #ede0d4;

$box-shadow-grey: #5a5a5a;
$box-shadow-brown: #3d3d3d;

$error: #be0000;

$background-gradient: linear-gradient(to right top, $creamy-dark, $creamy-light);
